<!-- 
<nav class="navbar navbar-light bg-light">
    <form class="form-inline m-auto">
      <button class="btn btn-sm btn-outline-info " type="button">Add</button>
      <button class="btn btn-sm btn-outline-danger" type="button">Delete</button>
    </form>
  </nav>
  
  
   <div class="container">
      <div class="row">
      
  
          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of itemList">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <p >{{product.name}}</p>
                  </h4>
                  <h5>${{product.price}}</h5>
                  <p class="card-text">code: {{product.code}}</p>
                </div>
                <form class="form-inline m-auto">
                  <input type="checkbox" aria-label=""  class="mx-2">
                  <button class="btn btn-sm btn-outline-warning " type="button">Update</button>
                  <button class="btn btn-sm btn-outline-danger" type="button">Delete</button>
                </form>
              </div>
            </div>
    </div>
    </div>
          
             -->