
<!-- first version -->
<!-- <form (submit)="addProduct(addForm)" #addForm="ngForm">
    <div class="form-group">
        <input class="  form-control form-control-sm" required  type="number" placeholder="category number"  name="id" ngModel>
    </div>
    <div class="form-group">
        <input class="  form-control form-control-sm" type="text" placeholder="name" required name="name" ngModel>
    </div>
    <div class="form-group">
        <input class="  form-control form-control-sm" type="number" placeholder="price" required name="price" ngModel>
    </div>
    <div class="form-group">
        <input class="  form-control form-control-sm" type="number" placeholder="code" required name="code" ngModel>
    </div>
    <button type="submit" class="btn  btn-info"><a class="text-light "href="/view-item">Add</a></button>
  </form> -->


  <!-- 3rd version -->
  <!-- ADD product Popup -->
  <button (click)="open(content)" class="btn btn-sm btn-outline-info " type="button">Add </button>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  (submit)="addProduct(addForm)" #addForm="ngForm">
        <div class="form-group" >
          <input  type="number" class="form-control" placeholder="cat"  aria-describedby="basic-addon1" name="cat" ngModel> 
      </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="name"  aria-describedby="basic-addon1" name="name" ngModel> 
        </div>
        <div class="form-group" >
          <input  type="number" class="form-control" placeholder="code"  aria-describedby="basic-addon1" name="code" ngModel> 
      </div>
      <div class="form-group" >
        <input  type="number" class="form-control" placeholder="price"  aria-describedby="basic-addon1" name="price" ngModel> 
    </div>
      
          <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Add</button>
        
      </form>
    </div>
  
  </ng-template>