<nav class="navbar navbar-light bg-light">
  <form class="form-inline m-auto">
    <!-- 3rd version - used selector and every comp is spearated -->
    <app-add-item></app-add-item>
    <app-delet-selected [myIDs]="selectedItems"></app-delet-selected>

    <!-- second version - separated comp -->
    <!-- <button (click)="open(content)" class="btn btn-sm btn-outline-info " type="button">Add </button> -->
    <!-- first version -->
    <!-- <button (click)="open(content)" class="btn btn-sm btn-outline-info " type="button"><a href="/add-item">Add</a> </button>  -->
    <!-- <button class="btn btn-sm btn-outline-danger" type="button"><a href="/delete-item">Delete selected</a></button> -->
  </form>
</nav>
    
    
<div class="container">
  <div class="row">
  

      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of itemList">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <p >{{product.name}}</p>
                <p>Category: {{product.cat}}</p>
              </h4>
              <h5>${{product.price}}</h5>
              <p class="card-text">code: {{product.code}}</p>
            </div>
            <form class="form-inline m-auto">
              <input type="checkbox" aria-label=""  class="mx-2" (click)="isCheck($event, product.id)" >
              <!-- 3rd version -->
              <app-update-item  [myID]="product.id"></app-update-item>
              <app-delete-item  [myID]="product.id"></app-delete-item>


              <!-- 1st version -->
              <!-- <button  class="btn btn-sm btn-outline-warning " type="button"><a href="/update-item/{{product.index}}">Update</a></button> -->
              <!-- <button class="btn btn-sm btn-outline-danger" type="button"><a href="/delete-item/{{product.id}}">Delete</a></button> -->
            </form>
          </div>
        </div>
</div>
</div>

<nav aria-label="Page navigation example" class="d-flex justify-content-center my-3">
  <div class="mx-2 d-flex" >
    <label for="">Limit</label>
    <select class="form-control form-control-sm" (change)="changeLimit($event)">
      <option>3</option>
      <option>6</option>
      <option>9</option>
    </select>
  </div>

  <div>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" aria-label="Previous" (click)="prevPage()">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <div class="d-flex" *ngFor="let pButton of  [].constructor(pageButton), let x = index">
        <li class="page-item"><a class="page-link" (click)="changePgae($event)">{{x+1}}</a></li>
      </div>
      <li class="page-item">
        <a class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </div>
 
</nav>