
<!-- Category Links -->
<h4 class="my-4">categories</h4>
<a  href="view-item" class="list-group-item">All</a>
<div  class="list-group container" *ngFor="let cat of categoryList">
    <div class="d-flex">
      <a href="category/{{cat.id}}" class="list-group-item text-primary">
        {{cat.categoryName}}
      </a>
      <button class="btn btn-outline-danger list-group-item" (click)="removeCat(cat.id)">Delete</button>
  </div>   
</div>
<div class="showLink"></div> 

 <!-- Category Add Popup -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">category</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  (submit)="addCat(addForm)" #addForm="ngForm">
        <!-- <div class="form-group" >
          <input  type="number" class="form-control" placeholder="id" aria-label="Username" aria-describedby="basic-addon1" name="id" ngModel> 
      </div> -->
        <div class="form-group">
            <input (keyup)=getVal($event) type="text" class="form-control" placeholder="name" aria-label="Username" aria-describedby="basic-addon1" name="categoryName" ngModel> 
        </div>
      
          <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Add</button>
        
      </form>
    </div>

  </ng-template>
  
  <button class="btn btn-info mt-3" (click)="open(content)">Add category</button>
  <hr>


 
