


<nav class="navbar navbar-light bg-light">
  <form class="form-inline m-auto">
    <!-- 3rd version - used selector and every comp is spearated -->
    <app-add-item></app-add-item>
    <app-delet-selected [myIDs]="selectedItems"></app-delet-selected>

    <!-- second version - separated comp -->
    <!-- <button (click)="open(content)" class="btn btn-sm btn-outline-info " type="button">Add </button> -->
    <!-- first version -->
    <!-- <button (click)="open(content)" class="btn btn-sm btn-outline-info " type="button"><a href="/add-item">Add</a> </button>  -->
    <!-- <button class="btn btn-sm btn-outline-danger" type="button"><a href="/delete-item">Delete selected</a></button> -->
  </form>
</nav>


 <div class="container">
    <div class="row">
    

        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of itemList">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <p >{{product.name}}</p>
                  <p>Category: {{product.cat}}</p>
                </h4>
                <h5>${{product.price}}</h5>
                <p class="card-text">code: {{product.code}}</p>
              </div>
              <form class="form-inline m-auto">
                <!-- <app-delet-selected  [myID]="product.id"></app-delet-selected> -->
                <input type="checkbox" aria-label=""  class="mx-2" (click)="isCheck($event, product.id)" >
                <!-- 3rd version -->
                <app-update-item (click) = "itemID(product.id)"   [myID]="product.id"></app-update-item>
                <app-delete-item (click) = "itemID(product.id)"   [myID]="product.id"></app-delete-item>

                <!-- 1st version -->
                <!-- <button  class="btn btn-sm btn-outline-warning " type="button"><a href="/update-item/{{product.id}}">Update</a></button> -->
                <!-- <button class="btn btn-sm btn-outline-danger" type="button"><a href="delete-item/{{product.id}}">Delete</a></button> -->
              </form>
            </div>
          </div>
  </div>
  </div>
        
  <nav aria-label="Page navigation example" class="d-flex justify-content-center my-3">
    <div class="mx-2 d-flex" >
      <label for="">Limit</label>
      <select class="form-control form-control-sm" (change)="changeLimit($event)">
        <option>3</option>
        <option>6</option>
        <option>9</option>
      </select>
    </div>

    <div>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" (click)="changePgae($event)" (page)="1" >1</a></li>
        <li class="page-item"><a class="page-link" (click)="changePgae($event)">2</a></li>
        <li class="page-item"><a class="page-link" (click)="changePgae($event)">3</a></li>
        <li class="page-item">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </div>
   
  </nav>
  
	<!-- <div  class="pagination-container mt-10px">
		<button [ngClass]="{'no-hover': page == 1}" class="mr-3px" [disabled]="page == 1" (click)="changePage(page - 1)"> &laquo; </button>
		<button *ngIf="page >= 3" class="mr-3px" (click)="changePage(1)"> 1 </button>
		<div *ngIf="page >= 4" class="mr-3px mt-7px"> ... </div>
		<button [ngClass]="{'active no-hover': buttonArray[0] == page}" class="mr-3px" (click)="changePage(buttonArray[0])"> {{ buttonArray[0] }} </button>
		<button [ngClass]="{'active no-hover': buttonArray[1] == page}" class="mr-3px" (click)="changePage(buttonArray[1])"> {{ buttonArray[1] }} </button>
		<button *ngIf="end != 2" [ngClass]="{'active no-hover': buttonArray[2] == page}" class="mr-3px" (click)="changePage(buttonArray[2])"> {{ buttonArray[2] }} </button>
		<div *ngIf="page <= (end - 3)" class="mr-3px mt-7px"> ... </div>
		<button *ngIf="page <= (end - 2)" class="mr-3px" (click)="changePage(end)"> {{ end }} </button>
		<button [ngClass]="{'no-hover': page == end}" [disabled]="page == end" class="mr-3px" (click)="changePage(page + 1)"> &raquo; </button>
	</div> -->
  



<!-- second version -->
<!-- ADD product Popup -->
<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  (submit)="addProduct(addForm)" #addForm="ngForm">
      <div class="form-group" >
        <input  type="number" class="form-control" placeholder="id"  aria-describedby="basic-addon1" name="id" ngModel> 
    </div>
      <div class="form-group">
          <input type="text" class="form-control" placeholder="name"  aria-describedby="basic-addon1" name="name" ngModel> 
      </div>
      <div class="form-group" >
        <input  type="number" class="form-control" placeholder="code"  aria-describedby="basic-addon1" name="code" ngModel> 
    </div>
    <div class="form-group" >
      <input  type="number" class="form-control" placeholder="price"  aria-describedby="basic-addon1" name="price" ngModel> 
  </div>
    
        <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Add</button>
      
    </form>
  </div>

</ng-template> -->




